environment:
    matrix:
        - PYTHON_VERSION: 27
        - PYTHON_VERSION: 36
        - PYTHON_VERSION: 36-x64

install:
    - C:\Python%PYTHON_VERSION%\python.exe -m pip install -U pip setuptools

build: off

# before_test:
test_script:
    - C:\Python%PYTHON_VERSION%\python.exe setup.py test

# after_test:
