language: python
python:
    #- "2.6"
    - "2.7"
    #- "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
    - "pypy"
    - "pypy3"
install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then
        pip install ordereddict; fi
    - pip install .
before_script:
    - pip install -r tests/requirements_test.txt
script:
    - coverage run --source f90nml setup.py test
after_success:
    - coverage report -m
    - coveralls
sudo: False
