recursive-include f90nml *.py
recursive-include test *.py *.nml
recusive-include docs/source *.txt
include docs/Makefile
include AUTHORS
include LICENSE
include MANIFEST.in
include NOTICE
include README.rst
